<footer id="sticky-footer" class="flex-shrink-0 py-4" 
    *ngIf="router.url !== '/dashboard/general-information' && 
    router.url !== '/dashboard/projects' &&
    router.url !== '/dashboard/configurations' &&
    router.url !== '/dashboard/snippets' &&
    router.url !== '/dashboard/work-area'">
    <div class="d-flex justify-content-around align-items-center">
        <div>
            <h6>Contactanos</h6>
            <a href="#" style="color: #7741BD;">info@tigershare.me</a>
        </div>
        <div>
            <a href="#" class="iconos"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <a href="#" class="iconos"><fa-icon [icon]="faTwitter"></fa-icon></a>
        </div>
        <div>
            <h6>Tigershare <fa-icon [icon]="faCopyright" style="color: #7741BD;"></fa-icon> 2023</h6>
        </div>
    </div>
</footer>
