<section class="pt-5 pb-5" [ngClass]="{'active-cont': interruptor}"><!--[ngClass]="{'active-cont': !interruptor}"-->
    <div class="container-fluid" style="color: #FFF;">

        <div class="pt-4 px-4 w-100">
            <!--Descripcion del proyecto y enlace-->
            <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                    <fa-icon [icon]="faFolder" style="color: #7741BD; font-size: 50px;"></fa-icon>
                    <h1 class="mx-3">Web example</h1>
                </div>
                <div class="d-flex mb-3">
                    <a href="#" class="m-1 text-decoration-none text-white">
                        <fa-icon [icon]="faCode" class="mx-1 pt-1" style="color: #7741BD;"></fa-icon>
                        Copiar enlace
                    </a>
                </div>
            </div><!--FIN Descripcion del proyecto y enlace-->
            <!--Creado por y colaboradores-->
            <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center pt-2">
                    <p><strong>Creado por: </strong> Alex Fuentes <br><small> Última modificación: Hace 30
                            minutos.</small></p>
                </div>
                <!--Colaboradores-->
                <div class="d-flex">
                    <fa-icon [icon]="faCloud" class="mx-1" style="color: #7741BD;"></fa-icon>
                    <h6 class="mx-1">Colaboradores</h6>
                    <fa-icon [icon]="faUser" class="mx-1" style="color: #7741BD;"></fa-icon>
                    <fa-icon [icon]="faUser" class="mx-1" style="color: #7741BD;"></fa-icon>
                    <fa-icon [icon]="faUser" class="mx-1" style="color: #7741BD;"></fa-icon>
                </div><!--Fin Colaboradores-->
            </div><!--FIN Creado por y colaboradores-->
        </div>

        <div class="container-grid">
            <div class="item-grid">
                <label for="htmlTextarea" class="form-label">HTML</label>
                <ngx-monaco-editor #html class="editor" [options]="optionsEditorHtml" [(ngModel)]="codeHTML"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="cssTextarea" class="form-label">CSS</label>
                <ngx-monaco-editor #css class="editor" [options]="optionsEditorCss" [(ngModel)]="codeCSS"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="jsTextarea" class="form-label">JavaScript</label>
                <ngx-monaco-editor #js class="editor" [options]="optionsEditorJs" [(ngModel)]="codeJS"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="resultCode" class="form-label">Resultado</label>
                <iframe #resultCode srcdoc="" class="form-control editor" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</section>
