:root {
    --color0: #040B25;
    --color1: #11173B;
    --color2: #2A2164;
    --color3: #7741BD;
}

.grafica {
    width: 300px;
    height: 350px;
    margin: 0 auto;
}

.areaUsuario{
    grid-area: area-user;
    padding-left: 60px;
    padding-right: 60px;
}
.areaPlan{ 
    grid-area: area-plan; 
    padding-left: 60px;
    padding-right: 60px;
}
.areaProyectos{ 
    grid-area: area-proyectos; 
    padding-left: 60px;
}
.areaDashboard{ 
    grid-area: area-dashboard; 
    padding-right: 60px;
    padding-bottom: 6%;
}

.grid-container {
    color: #FFF;
    display: grid;
    grid-template-areas: 
    'area-user area-user area-user' 
    'area-plan area-plan area-plan' 
    'area-proyectos area-dashboard area-dashboard' 
    'area-proyectos area-dashboard area-dashboard' 
    'area-proyectos area-dashboard area-dashboard';
    gap: 10px;
}

.active-cont {
    margin-left: 250px;
}

.iconos {
    color: var(--color3); 
    font-size: 22px;
}

.icon {
    color: var(--color3); 
    font-size: 30px;
    padding-right: 10px;
}

strong {
    font-size: 20px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
        'area-user area-user area-user' 
        'area-plan area-plan area-plan' 
        'area-proyectos area-proyectos area-proyectos' 
        'area-dashboard area-dashboard area-dashboard';
    }
    .areaProyectos{ 
        padding-right: 60px;
    }
    .areaDashboard{  
        padding-left: 60px;
        padding-bottom: 5%;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .areaDashboard{  
        padding-bottom: 10%;
    }
}

@media (max-width: 460px) {
    .areaDashboard{  
        padding-bottom: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .active-cont {
        margin-left: 0px;
    }
}