<section class="pt-5 pb-5" [ngClass]="{'active-cont': interruptor}"><!--[ngClass]="{'active-cont': !interruptor}"-->
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <h1 style="color: #fff; text-align: center;">Área de proyectos</h1>

            <div  class="col-12 col-lg-11 col-xl-11 col-md-11 col-sm-11 scroll-area scroll overflow-auto">

                <div class="contenedor-grip">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faFolderClosed" class="icon"></fa-icon>
                                <strong>Web example</strong>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <small>Ultima modificacion hace: 30 min</small>
                                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>