<section class="pt-5 pb-5" [ngClass]="{'active-cont': !interruptor}">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center h-auto">
            <div class="col-10" style="color: #fff;">

                <div class="col-12 d-flex justify-content-between pt-4 pb-3">
                    <h3>Bienvenido, {{infoUser.nombre}} {{infoUser.apellido}}</h3>
                    <img src="../../assets/img/male_avatar_.svg" alt="" width="50px" height="50px">
                </div>

                <h2>Configuraciones</h2>

                <div class="mb-3 d-flex align-items-center pt-5 pb-2">
                    <img src="../../assets/img/male_avatar_.svg" alt="" width="50px" height="50px">
                    <div class="px-5">
                        <div class="d-flex align-items-center">
                            <strong>{{infoUser.user}}</strong>
                            <button class="btn"><fa-icon [icon]="faPenToSquare" class="icon"></fa-icon></button>
                        </div>
                        <small>{{infoUser.email}}</small>
                    </div>
                </div>

                <div class="row pt-5 h-auto">
                    <div class="col-6">
                        <div class="form-check form-switch pb-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Tus proyectos son públicos</label>
                        </div>
                        <div class="form-check form-switch pb-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Culaquier usuario puede hacerse colaborador</label>
                        </div>
                        <div class="form-check form-switch pb-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Tu perfil es público</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-check form-switch pb-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Tus snippets se cargan automaticamente</label>
                        </div>
                        <div class="form-check form-switch pb-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">El cobro de plan es automatico</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>