<main id="page-content">
    <div class="container-fluid d-flex justify-content-center bg-image-tiger" style="background-color: #2A2164;">
        <div class="row d-flex col-xxl-8 col-xl-8 col-lg-7 col-md-8 col-sm-10 col-12" style="padding-bottom: 10%; color: white;">
            
            <div class="contenedor-grip py-4">
                <div class="">
                    <h1>Programa en línea hoy mismo</h1>
                    <p>Miles de programadores alrededor del mundo están empezando a usar Tigershare para sus proyectos.</p>
                    <div class="mb-3">
                        <a class="btn btn-login" [routerLink]="['/sing-up']">Registrarte</a>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center">
                    <img src="../../assets/img/engineering_team.svg" class="img-fluid" alt="" width="350px" height="350px">
                </div>
            </div>

            <div class="contenedor-grip py-4 text-center">
                <h5>Somos una plataforma de codificación web para trabajo colaborativo y almacenamiento en la nube.</h5>
            </div>

            <div class="contenedor-grip py-4">
                <div class="d-flex justify-content-center align-content-center">
                    <img src="../../assets/img/developer_activity.svg" class="img-fluid" alt="" width="350px" height="350px">
                </div>
                <div class="d-flex flex-column justify-content-around align-items-end">
                    <h1>Una plataforma minimalista</h1>
                    <p>Centrado en el desarrollo de archivos HTML, CSS y JavaScript.</p>
                    <div style="font-size: 50px;">
                        <i class="fa-brands fa-html5 px-1"></i>
                        <i class="fa-brands fa-css3-alt px-1"></i>
                        <i class="fa-brands fa-square-js px-1"></i>
                    </div>
                </div>
            </div>

            <div class="contenedor-grip py-4">
                <div class="d-flex flex-column justify-content-center">
                    <h1>Almacenamiento en la nube</h1>
                    <p>Siempre tendras acceso a tus trabajos en internet.</p>
                </div>
                <div class="d-flex justify-content-center align-content-center">
                    <img src="../../assets/img/undraw_freelancer_re_irh4.svg" class="img-fluid" alt="" width="350px" height="350px">
                </div>
            </div>

            <div class="contenedor-grip py-4">
                <div class="d-flex justify-content-center align-content-center">
                    <img src="../../assets/img/collaboration.svg" class="img-fluid" alt="" width="350px" height="350px">
                </div>
                <div class="d-flex flex-column justify-content-around align-items-end" style="color: white;">
                    <h1>Trabaja con tus colaboradores</h1>
                    <p>Comparte el link de tus proyectos para que los demas puedan visualizarlos o editarlos.</p>
                </div>
            </div>

            <div class="contenedor-grip py-5 text-center">
                <div class="flex-column">
                    <h3>Empieza un hoy mismo a programar en línea gratis.</h3>
                    <p>Prueba la capa gratuita de Tigershare hoy y cambia de plan a medida evolucionen tus necesidades.</p>
                    <div class="mb-3">
                        <a class="btn btn-login" [routerLink]="['/sing-up']">Registrarte</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
