/*nueva estructura*/

/*contenedor grid*/
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    height: 90vh;
    width: 100%;
}

.item-grid {
    height: 100%;
}

.editor {
    height: 90%;
}

.active-cont {
    transition: 0.4s;
    margin-left: 250px;
}

@media only screen and   (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .active-cont {
        margin-left: 0px;
    }
}


/*fin contenedor grid*/
/*Fin nueva estructura*/


/*INICIO split-grid*/
/* .grid {
    display: grid;
    grid-template-columns: 49.8% 10px 49.8%;
    grid-template-rows: 49.8% 10px 49.8%;
    height: 90vh;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
}

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
}

.gutter-row-1 {
    grid-row: 2;
} */

/* FIN split-grid*/
