<section class="pt-5 pb-5" [ngClass]="{'active-cont': !interruptor}">
    <div class="container-fluid" style="color: #FFF;">
        <div class="pt-4 px-4 w-100" *ngIf="interruptor2">
            <!--Descripcion del proyecto y enlace-->
            <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                    <fa-icon [icon]="faFolder" style="color: #7741BD; font-size: 50px;"></fa-icon>
                    <h1 class="mx-3">{{dataProject?.nombre}}</h1>
                </div>
                <div class="d-flex mb-3">
                    <button class="btn m-1 text-white bg-transparent" (click)="copyLink()">
                        <fa-icon [icon]="faCode" class="mx-1 pt-1" style="color: #7741BD;"></fa-icon>
                        Copiar enlace
                    </button>
                </div>
            </div><!--FIN Descripcion del proyecto y enlace-->
            <!--Creado por y colaboradores-->
            <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center pt-2">
                    <p>
                        <strong>Creado por: </strong> {{dataProject?.creador?.nombre}} {{dataProject?.creador?.apellido}}
                        <br>
                        <small>Última modificación: {{showDateString(dataProject?.u_mod)}}</small>
                    </p>
                </div>
                <!--Colaboradores-->
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn bg-transparent" (click)="openModal(modalAddCollaborator)">
                        <fa-icon [icon]="faUserPlus" class="mx-1 pt-1" style="color: #7741BD;"></fa-icon>
                    </button>
                    <h6 class="mx-1 pb-0 mb-0">Colaboradores:</h6>
                    <div  *ngIf="dataProject?.colaboradores?.length">
                        <fa-icon *ngFor="let n of getRange(dataProject?.colaboradores?.length)" 
                        [icon]="faUser" class="mx-1" style="color: #7741BD;"></fa-icon>
                    </div>
                </div>
                <!--Fin Colaboradores-->
            </div><!--FIN Creado por y colaboradores-->

            <div class="py-3">
                <button class="btn bg-transparent" (click)="updateProject(dataProject?._id)">
                    <fa-icon [icon]="faFloppyDisk" class="mx-1 pt-1" style="color: #7741BD;"></fa-icon>
                    Guardar cambios
                </button>
            </div>
        </div>

        <div class="container-grid pb-5 flex-wrap">
            <div class="item-grid">
                <label for="htmlTextarea" class="form-label">HTML</label>
                <ngx-monaco-editor #html class="editor" [options]="optionsEditorHtml" [(ngModel)]="codeHTML"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="cssTextarea" class="form-label">CSS</label>
                <ngx-monaco-editor #css class="editor" [options]="optionsEditorCss" [(ngModel)]="codeCSS"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="jsTextarea" class="form-label">JavaScript</label>
                <ngx-monaco-editor #js class="editor" [options]="optionsEditorJs" [(ngModel)]="codeJS"
                    (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
            </div>
            <div class="item-grid">
                <label for="resultCode" class="form-label">Resultado</label>
                <iframe #resultCode srcdoc="" class="iframe-resultado" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</section>

<ng-template #modalAddCollaborator let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nuevo colaborador</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="formCollaborator">
            <div class="mb-3">
                <label for="emailInput" class="col-form-label">Correo electrónico:</label>
                <input 
                formControlName="email"
                [ngClass]="{'input-error': email?.invalid && (email?.dirty || email?.touched)}"
                type="email" name="email" class="form-control" id="emailInput" 
                placeholder="desarrollador@gmail.com" required>
            </div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
                <span *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio.</span>
                <span *ngIf="email?.errors?.['pattern']">El correo electrónico que ingreso es invalido.</span>
            </div>
        </form>
	</div>
	<div class="modal-footer">
		<button [disabled]="!formCollaborator.valid" type="button" class="btn" (click)="addCollaborator()">Guardar colaborador</button>
	</div>
</ng-template>

<ng-template #modalSaveChanges let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">¡Precausión!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>¿Estás seguro que quieres salir de la página sin antes guardar los cambios de tu proyecto?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" (click)="saveChanges()">Guardar cambios</button>
	</div>
</ng-template>