
.navbar-lateral {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: white;
    transition: 0.4s;
    border: 1px solid #040B25;
    position: fixed;
    z-index: 999;
}

/* for navbar */
.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    transition: 0.4s;
    margin-left: 250px;
}

.iconos{
    color: #7741BD; 
    font-size: 22px;
}

.icon{
    color: #7741BD; 
    font-size: 30px;
    padding-right: 10px;
}

.btn {
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    border-bottom: 1px solid #FFFF !important;
}